<div class="container-fluid">
  <div class="row  justify-content-center my-5">

    <div class="col-4">
       <form class="needs-validation" novalidate >
          <br>
          <div class="subRayar"><h4 class="text-center">Regístrate</h4></div>
          <br>
            <div class="form-row">

                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre y Apellido" required>
                    <div class="valid-tooltip">Correcto!</div>
                    <div class="invalid-tooltip">Campo obligatorio!</div>
                </div>

              <div class="col-md-6 mb-3">
                  <label for="validationTooltip02">RUT</label>
                  <input type="text" class="form-control" id="validationTooltip02" placeholder="xxxxxxxx-x" required>
                  <div class="valid-tooltip">Correcto!</div>
                  <div class="invalid-tooltip">Campo obligatorio!</div>
              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Correo</label>
                <input type="email" class="form-control" id="validationTooltip01" placeholder="Ejemplo@mail.com" required>
                <div class="valid-tooltip">Correcto!</div>
                <div class="invalid-tooltip">Campo obligatorio!</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationTooltip02">Confirmar Correo</label>
                <input type="email" class="form-control" id="validationTooltip02" placeholder="Ejemplo@mail.com" required>
                <div class="valid-tooltip">Correcto!</div>
                <div class="invalid-tooltip">Campo obligatorio!</div>
              </div>

            </div>

            <div class="form-row">

              <div class="col-md-6 mb-3">
                <label for="validationTooltip01">Contraseña</label>
                <input type="password" class="form-control" id="validationTooltip01" placeholder="Contraseña" required>
                <div class="valid-tooltip">Correcto!</div>
                <div class="invalid-tooltip">Campo obligatorio!</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationTooltip02">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="validationTooltip02" placeholder="Contraseña" required>
                <div class="valid-tooltip">Correcto!</div>
                <div class="invalid-tooltip">Campo obligatorio!</div>
              </div>

            </div>
          <button class="btn btn-info mx-auto my-1 btn-block" type="submit" >Registrar</button>
          <br>
        </form>
    </div>
  </div> 
</div>