<div class="row my-3">
    <div class="col-12">
      <h5 class="text-dark">Buscar:</h5>
      <form class= "form-inline">
        <input class="form-control ds-input" type="buscar" arial-label="Buscar">
      </form>
    </div>
    <div class="col-12 my-3">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar por:
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"  href="#">Frutas</a>
              <a class="dropdown-item" href="#">Verduras</a>
            </div>
          </div>
    </div>
  </div>
